h3 {
    font: 1em sans-serif;
    color: aqua;
    font-style: italic;
}

body {
    background-color: beige !important ;
    font-size: 20pt;
}

p.wide {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sp{
    color: #000;
    font-size: smaller;
}

div.j2{

    background-color: aqua;
}

.j4{
    background-color: aquamarine;
    font-size: 30pt;
}

